body{font-family: Arial, Helvetica, sans-serif;}

@media (min-width:1000px){

    .video-title{
        font-size:16px;
        line-height:24px;
    }


    .video-author,
.video-stats{
    margin-top:0;
    margin-bottom:4px;
}
}


.video-title{
    margin-top:0;
    margin-bottom:10px;

    font-weight:500;
    line-height:20px;
}


.thumbnail{
    width:100%;
    display:block;
}

.profile-picture {
  width: 36px;
  border-radius: 50%;
}

.video-grid{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    column-gap:16px;
    row-gap:40px;
}







.upload-icon-container {
  position: relative;
}

.tooltip {
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translateX(-50%);

  background-color: gray;
  color: white;

  padding: 6px 8px;
  border-radius: 2px;

  opacity: 0;
  transition: opacity 0.15s;

  pointer-events: none;
}

.upload-icon-container:hover .tooltip {
  opacity: 1;
}

.video-title-link{
  text-decoration: none;
  color: inherit;
}

.video-info-grid{
    display:grid;
    grid-template-columns:50px 1fr;
}

.video-preview {
  width: 100%;
}

.thumbnail-row{
     position: relative;
  margin-bottom: 8px;
}

.video-time {
   position: absolute;
  bottom: 8px;
  right: 5px;

  background-color: black;
  color: white;

  font-size: 12px;
  font-weight: 500;

  padding: 4px;
  border-radius: 2px;
}


.profile-tooltip-container{
    position: relative;
    display: inline-block;
}


.profile-tooltip{
    position:absolute;

    top:55px;
    left:0;

    background:white;

    padding:12px;

    border-radius:8px;

    box-shadow:0 0 10px rgba(0,0,0,.25);

    display:flex;
    align-items:center;

    opacity:0;

    transition:opacity .15s;

    pointer-events:none;
}

.profile-tooltip-container:hover .profile-tooltip{
    opacity:1;
}


.tooltip-picture{
    width:50px;
    height:50px;

    border-radius:50%;

    object-fit:cover;

    margin-right:10px;
}

.tooltip-name{
    font-weight:bold;
    margin-bottom:4px;
}

.tooltip-subs{
    color:gray;
    font-size:14px;
}